
<%- include("partials/header2") %>

    <div class="container" style="margin-top: 130px;">

    <div>
        <% containers.forEach(function(container){ var i = 1;%>
            <div class="row" >
                <div class="col-lg-7 mx-auto">
                    <div class="career-search mb-60">

                        

                        <div class="filter-result" style="background-color: #f3b267; border-radius: 30px;">

                            <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                    <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                        <%=i%>
                                    </div>
                                    <div class="job-content">
                                        <h5 class="text-center text-md-left"><%= container.container_name %></h5>
                                        <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="job-right my-4 flex-shrink-0">
                                    <a href="/containers/<%=container._id%>" class="btn d-block w-100 d-sm-inline-block btn-light">View</a>
                                </div>
                            </div>

                           

                        </div>
                    </div>
                </div>
            </div>
            
        <%i++;})%>
    </div>
</div>

<%- include("partials/footer") %>
