
<%- include("partials/header2") %>

    <section class="section gradient-banner">
        
        <div class="container" style="padding-top:150px;">
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
                    <h1 class=" font-weight-bold mb-4">Container: <%=container.container_name%></h1>
                    
                    <% if(container.github_link){%>
                        <h5><a href="<%=container.github_link%>">Github Link</a></h5>
                    <%}%>
                        <% if(container.deployed_url || container.image_name === 'phpmyadmin'){%>
                            <strong>
                                <div>Link: <a href="<%=container.deployed_url%>" target="_blank" rel="noopener noreferrer"><%=container.deployed_url%></a></strong></div>
                                <div class='child'>
                                    <form action="/containers/<%=container._id%>?_method=DELETE" method="POST">
                                        <input type="submit" value="delete" class="btn btn-main-md">
                                    </form>
                                </div>
                        <%} else  if(container.github_link){%>
                            <strong>
                                <div>Link: <a href="http://<%=ip%>:<%=container.port%>" target="_blank" rel="noopener noreferrer"><%=container.port%></a></strong></div>
                        <%} else {%>
                            <strong>
                                <div>Port: <a href="#" target="_blank" rel="noopener noreferrer">172.19.0.1:<%=container.port%></a></strong></div>
                                
                                <%} %>      
                    <br>
                    <div class=''>
                        <% if(container.deployed_url){%>
                            <div> The application is hosted successfully on heroku please click on the link to view the application</div>
                            
                        <%} else {%>
                            <div class='child'>
                                <form action="/containers/<%=container._id%>?_method=PUT" method="POST" >
                                    <input type="submit" value="update" class="btn btn-main-md"> 
                                </form>
                            </div>
                        <div class='child'>
                            <form action="/containers/<%=container._id%>?_method=DELETE" method="POST">
                                <input type="submit" value="delete" class="btn btn-main-md">
                            </form>
                        </div>
                        <br>
                        <div class='child'>
                            <div>
                                <button class="btn btn-main-md" onclick="logsHandler()" >View Logs</button>
                            </div>
                        </div>
                        <%}%>
                    </div>


                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <img class="img-fluid" src="https://bootstrapmade.com/demo/templates/Arsha/assets/img/hero-img.png" alt="screenshot" style="width: 800px;">
                </div>
            </div>
            <div class="row">
                <div id="logs" class="col col-12">

                </div>
            </div>
        </div>
    </section>

    <script>
        var logsHandler = async()=>{
                  var logs = await fetch("http://localhost:3000/containers/<%=container._id%>/logs");
                  var data = await logs.json();
                  console.log(data)
                  var place = document.getElementById('logs');
                  // console.log(filter.category_name +"inside the table")
    
                  var out = data;
                  place.innerHTML=out;
                }
    </script>

<%- include("partials/footer") %>