<%- include("partials/header") %>

    <div>
        <h1><%=container.container_name%></h1>
        <a href="<%=container.github_link%>">Github link</a>
        <div>port <%=container.port%></div>
        <form action="/containers/<%=container._id%>?_method=PUT" method="POST">
            <input type="submit" value="update">
        </form>
        <form action="/containers/<%=container._id%>?_method=DELETE" method="POST">
            <input type="submit" value="delete">
        </form>
    </div>
<%- include("partials/footer") %>
